<ion-header>
  <ion-toolbar>
    <ion-title>{{ student ? 'Editar aluno' : 'Cadastrar aluno' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button color="secondary" (click)="closeModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="studentForm" (ngSubmit)="insertStudent()">
    <ion-item>
      <ion-label position="stacked">Nome</ion-label>
      <ion-input formControlName="name" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">R.A.</ion-label>
      <ion-input formControlName="ra" required></ion-input>
    </ion-item>

    <ion-item *ngIf="student">
      <ion-label>Adicionar PDF</ion-label>
      <ion-button expand="block" (click)="fileInput.click()">Selecione o PEI</ion-button>
      <input #fileInput type="file" accept="application/pdf" (change)="onFileSelected($event)" hidden />
    </ion-item>
    <ion-item *ngIf="selectedFile">
      <ion-label>{{ selectedFile.name }}</ion-label>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="studentForm.invalid">
      {{ student ? 'Atualizar' : 'Cadastrar' }}
    </ion-button>
  </form>
</ion-content>