<ion-header>
  <ion-toolbar>
    <ion-title>{{ student ? 'Editar aluno' : 'Cadastrar aluno' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="studentForm" (ngSubmit)="insertStudent()">
    <ion-item>
      <ion-label position="stacked">Nome</ion-label>
      <ion-input formControlName="name" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">RA</ion-label>
      <ion-input formControlName="ra" required></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="studentForm.invalid">
      {{ student ? 'Atualizar' : 'Cadastrar' }}
    </ion-button>
  </form>
</ion-content>