.centralizar-formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Ocupa toda a altura da tela */
    padding: 20px;
}

ion-label {
    padding: 10px;
}

ion-card {
    width: 100%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

ion-card-header {
    text-align: center;
    background-color: #ffbe00;
    /* Cor do cabeçalho do card */
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

ion-card-title {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

ion-card-content {
    padding: 20px;
}

ion-item {
    --border-color: #ccc;
    /* Cor das bordas dos campos */
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ion-button {
    margin-top: 20px;
    --background: #ffbe00;
    /* Cor do botão */
    --border-radius: 5px;
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

ion-toggle {
    height: 25px;
}