<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bem vindo, {{ user.role }} <b>{{ user.name }}</b>!</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleNotificationList()">
        <ion-icon name="notifications-outline" class="custom-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Alternar entre notificações não lidas e todas -->
  <ion-segment (ionChange)="onFilterChange($event.detail.value)" *ngIf="showNotifications">
   <ion-segment [(ngModel)]="currentFilter" (ionChange)="onFilterChange($event.detail.value)" *ngIf="showNotifications">
  <ion-segment-button value="unread">
    Não Lidas
  </ion-segment-button>
  <ion-segment-button value="all">
    Todas
  </ion-segment-button>
</ion-segment>

  <!-- Lista de notificações -->
  <ion-list *ngIf="showNotifications">
    <ion-item *ngFor="let notification of filteredNotifications">
      <ion-label>
        <h2>{{ notification.title }}</h2>
        <p>{{ notification.comment }}</p>
        <small>{{ notification.created_at | date: 'short' }}</small>
      </ion-label>
      <ion-checkbox slot="end" [(ngModel)]="notification.selected"></ion-checkbox>
    </ion-item>
    <ion-item *ngIf="filteredNotifications.length === 0">
      <ion-label>
        <p>Você não tem notificações para exibir.</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Botões de ação -->
  <ion-footer *ngIf="showNotifications && filteredNotifications.length > 0">
    <ion-button expand="full" color="primary" (click)="markAllAsRead()">Marcar todas como lidas</ion-button>
    <ion-button expand="full" color="secondary" (click)="markSelectedAsRead()">Marcar selecionadas como lidas</ion-button>
  </ion-footer>
